@model IEnumerable<CEPEDI.Zebra.Web.Models.Impressora>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ribbon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Criacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atualizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ribbon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Criacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atualizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Guid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Guid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Guid })
        </td>
    </tr>
}

</table>
